body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #FFD9D9;
    margin: 0;
}
header {
    background-color: #D3D3D3;
    padding: 10px;
    font-size: 24px;
}
#game-container {
    margin-top: 50px;
}
.play-button {
    display: inline-block;
    padding: 20px 60px;
    font-size: 24px;
    background-color: #A5FF9D;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}
